@import "./_normalize.css";
@import "./_mixins.css";
@import "./_vars.css";
@import "./flexslider.css";
@import "./jquery.mmenu.all.css";
@import "./_products.css";

/*@lost flexbox flex;*/

html,
body{
	font-size: 16px;
}
body{
  font-family: var(--text-font);
}
figure{
  margin:0;
}
img{
  max-width: 100%;
  height: auto;
}
.slide-separator{
	min-height: 400px;
	height: 100%;
}
.magnify-large{
	box-shadow: 0 0 0 0px rgba(255,255,255,0.85), 0 0 4px 4px rgba(0,0,0,0.25), inset 0 0 40px 2px rgba(0,0,0,0.25) !important;
}
a{
	text-decoration: none;
}
h1{
	font-family: var(--main-font);
	text-transform: uppercase;
	margin-top: 0;
	font-size: responsive 22px 24px;
	font-weight: 500;
}
h2{
	font-family: var(--main-font);
	font-weight: 300;
	font-size: responsive 16px 18px;
}
h3{
	font-size: responsive 14px 16px;
	text-transform: uppercase;
}
#nav{
  z-index: 9999;
  a{
    font-family: var(--main-font);
  }
  li{
    a{
      text-transform: uppercase;
      font-size: 18px;
    }
  }
}
.layout{
  &--wrapper{
		lost-utility: clearfix;
    @media (--tablet){
      lost-center: 960px;
    }
  }
	&__left{
		@media (--tablet){
			lost-column: 3/4;
		}
	}
	&__right{
		@media (--tablet){
			lost-column: 1/4;
		}
	}
}
/*
**** HEADER ****
*/

.header{
  background-color: var(--strong-gray);

  &__container{
    padding: 1.2rem 1rem;
    box-sizing: border-box;
    position: relative;
		lost-utility: clearfix;
    @media (--desktop){
      padding: .5rem 0;
    }
  }



  &__logo{
    padding: 10px 0;
    lost-column: 3/4;
    order: 0;
    @media (--desktop){
      lost-column: 1/3;
    }
  }

  &__mainMenu{
    display: none;
    position: relative;
		top:10px;
		lost-utility:clearfix;
    @media (--desktop){
			display: block;
      lost-column:2/3;
    }

    & ul{

      width: 100%;
      list-style: none;
      margin: 0;
			text-align: right;
			padding: 0;

    }
    & a{
      color: white;
      text-decoration: none;
      display: block;
      padding: .8rem 1rem;
      text-transform: uppercase;
      font-family: var(--main-font);
      font-weight: 500;
      font-size: 18px;
    }
    & li{
      position: relative;
			display: inline-block;
      &:hover:before{
        @mixin triangle var(--main-red);
      }
    }
    & li[class*="current"]:before{
      @mixin triangle var(--main-red);
    }
  }

  &__menuButton{
    display: block;
    position: absolute;
    right: 7%;
    top: 28%;
    text-align: center;
    line-height: 2.2;
    background-color: transparent;
    border: 0;
    color: white;
    font-size: responsive 22px 30px;
    @media (--desktop){
      display: none;
    }
  }

}


/*
**** HEADER END ****
*/
.slider{
	li{
		background-size: cover;
		background-position: 50% center;
	}
}

/*
**** MAIN ****
*/
.main{

	&__container{
		padding: 1.5rem 1rem;

	}

	&__products .services__item{
		max-height: 100% !important;
	}

	&__welcome{
		background-color: var(--light-gray);
		padding: 1.2rem;
		box-sizing: border-box;
		position: relative;
		&:before{
			@mixin triangle;
		}
		@media (--tablet){
			lost-column:2/5;
		}
	}

	h1{
		color: var(--main-red);
	}

	&__services{
		padding-top: 2rem;
		@media (--tablet){
			lost-column:3/5;
			padding-top:0;
		}

		&Container{
			/*lost-flex-container: column;*/
			lost-utility: clearfix;
			@media (--tablet){
				/*lost-flex-container: row;
				flex-wrap: wrap;*/
			}

			> div{
				text-align: center;
				/*max-width: 172px;*/
				margin-bottom: 1rem;

				overflow: hidden;
				@media (--tablet){
					lost-column:1/2 auto 10px;
					max-height: 140px;
				}
				@media (--desktop){
					lost-column:1/3 auto 10px;
				}
				&:nth-child(n + 5){
					@media (--tablet){
						margin-bottom:0;
					}
				}
				&:nth-child(n + 4){
					@media (--desktop){
						margin-bottom:0;
					}
				}

		}

		h3{
			color:white;
			background-color: var(--main-red);
			margin: 0;
			padding-top: .8rem;
			padding-bottom: .8rem;
			position: relative;
			&:before{
				@mixin triangle;
			}
		}
		img{
			width: 100%;
			height:auto;
			display: block;
		}

		}


	}
}


/*
**** MAIN END ****
*/

/*
**** CAROUSEL ****
*/
.homecarousel{
	&__container{
		background-color: var(--light-gray);
		padding:1rem;
		box-sizing:border-box;
	}
	&__slides{
		list-style:none;
		lost-utility: clearfix;
		width:100%;
		padding:0;
		margin:0;
		li{
			lost-column:1/3;
			@media (--tablet){
				lost-column: 1/6;
			}
		}
	}
}

/*
**** CAROUSEL END ****
*/

/*
**** FOOTER ****
*/
.footer{
	background-color: var(--strong-gray);
	border-top: 3px solid var(--main-red);
	margin-top:2rem;
	text-align:center;
	padding:1.4rem 1rem;
	&__menu{
		margin:0 0 1rem 0;
		text-align:center;
		list-style:none;
		li{
			display:inline-block;
			vertical-align:top;
			&[class*="current"] a{
				color: var(--main-red);
			}
		}
		a{
			color:white;
			text-decoration:none;
			text-transform:uppercase;
			display:block;
			padding:1rem;
			&:hover{
				color: var(--main-red);
			}
		}
	}
	&__copyright{
		p{
			padding:0;
			margin:0;
			color:white;
			font-size:14px;
		}
	}
}
/*
**** FOOTER END ****
*/

/*
*		Categories Template
*/
.category{
	&__container{
		lost-utility: clearfix;
		margin-top: 2rem;
	}
	&__content{
		display: none;
	}
	&__item{
		lost-column: 1/3 auto 8px;
		margin-bottom: 1.2rem;
		img{
			width:100%;
			height: auto;
			display: block;
		}
		&-title{
			background-color: var(--strong-gray);
			color: white;
			text-align: center;
			padding-top: .7rem;
			padding-bottom: .7rem;
			margin: 0;
			position:relative;
			&:before{
				@mixin triangle;
			}
		}
		a{
			&:hover h3{
				background-color: var(--main-red);
			}
		}
	}

	&__menu{
		background-color: var(--light-gray);
		padding-bottom: 1rem;
		h3{
			background-color: var(--main-red);
			font-weight: 400;
			font-family: "Poppins";
			text-align: center;
			color: white;
			margin: 0;
			padding-top: 1rem;
			padding-bottom: 1rem;
			position: relative;
			&:before{
				@mixin triangle;
			}
		}
		ul{
			list-style: none;
		}
		li{
			position: relative;
			&.live{
				&:before{
					content: "\f0da";
					font-family: "fontawesome";
					position: absolute;
					top:50%;
					margin-top: -9px;
				}
			}
		}

		a{
			font-family: "Oswald";
			display: block;
			padding: 1rem;
			color: var(--strong-gray);
			&:hover{
				color: var(--main-red);
			}
		}
	}

}
